.benefits {
  @include container;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 125px;
    margin-bottom: auto;
  }
}

.benefits__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    counter-reset: list;
    //justify-content: space-between;
    justify-content: flex-start;
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.benefits__list:nth-last-child {
   outline: 3px solid red;
 }

.benefits__title {
  font-family: $font-primary;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  margin-top: 17px;
  margin-bottom: 29px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 79px;
    margin-top: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-top: 49px;
  }
}
