.example-line__center {
  background-color: $primary-color;
  width: 35px;
  height: 6px;
  position: absolute;
  top: 3px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    top: -17px;
    left: 16px;
  }

  @media (min-width: $tablet-width) {
    left: 50%;
  }
}

.example-line__center:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.example-line__center:active {
  border: 1px solid #68b738;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.example-line__center::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    border-radius: 50%;
    top: 38%;
    left: 38%;
  }
}
