.form {
  font-size: 16px;
  line-height: 18px;
  font-family: $font-primary;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__line {
  height: 3px;
  background-color: $primary-color;
}

.form__text {
  @include little-text;
  color: #111111;
  text-transform: uppercase;
  font-family: $font-primary;

  @include form-container;
  margin-top: 0;
  text-align: left;
  padding-right: 40px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 370px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 890px;
    margin-bottom: 60px;
  }
}

.form__title {
  margin-top: 0;
  font-size: 36px;
  padding-top: 14px;
  line-height: 60px;
  margin-bottom: 24px;
  font-family: $font-primary;
  border-top: $primary-border;
  font-weight: 400;

  @include container;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 43px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    margin-top: 59px;
  }
}
