$primary-color: #68b738;
$grey-background: #f2f2f2;
$text-color: #444444;
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "ArialMT","Arial", sans-serif;
$primary-border: 1px solid #ededed;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
